.el-popover{
  padding: 0;
  .editHis_info_title{
    padding: 10px;
    border-bottom: 1px solid #e4edf6;
  }
  .editHis_item{
    display: flex;
    align-items: center;
    padding: 12px;
    .editHis_item_userInfo{
      display: flex;
      align-items: center;
      span{
        margin: 0 4px;
      }
    }
  }
}