<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.rider.RiderMapper">

    <select id="findTodayCourierOrderNumByCourierId" resultType="com.sky.pojo.CourierTodayTotalOrder">
        select tc.id as courierId, count(tcto.trade_no) as total from tb_courier tc
        left join tb_courier_trade_order tcto on tc.id = tcto.courier_id
        and tcto.trade_create_time &gt; concat(#{today}, ' 00:00:00')
        and tcto.trade_create_time &lt; concat(#{today}, ' 23:59:59')
        <where>
            <foreach collection="courierIds" item="id" open="tc.id in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
        group by tc.id
    </select>


    <select id="findCourierOrderingLess12ByIds" resultType="java.lang.Long">
        select tc.id, count(tcto.trade_no)
        from tb_courier tc
        left join tb_courier_trade_order tcto on tc.id = tcto.courier_id
            and tcto.trade_create_time &lt; concat(#{today}, ' 23:59:59')
            and tcto.trade_create_time &gt; concat(#{today}, ' 00:00:00')
            and tcto.waybill_status in (3, 4)
        <where>
            <foreach collection="newMinOrderNumCourierIds" open="tc.id in (" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
        group by tc.id having count(tcto.trade_no) &lt; 12
    </select>

    <select id="selectNearbyCouriers" resultType="com.sky.pojo.Courier">
        SELECT
        id,
        name,
        cur_location,
        ROUND(
        ST_Distance_Sphere(
        POINT(
        CAST(SUBSTRING_INDEX(cur_location, ',', 1) AS DECIMAL(10,7)),   -- 经度
        CAST(SUBSTRING_INDEX(cur_location, ',', -1) AS DECIMAL(10,7))   -- 纬度
        ),
        POINT(116.407395, 39.904211)  -- 商家坐标（示例）
        )
        ) AS distance_in_meters
        FROM tb_courier
        WHERE
        on_job = 1
        AND cur_location IS NOT NULL
        AND cur_location LIKE '%,%'
        AND ST_Distance_Sphere(
        POINT(
        CAST(SUBSTRING_INDEX(cur_location, ',', 1) AS DECIMAL(10,7)),
        CAST(SUBSTRING_INDEX(cur_location, ',', -1) AS DECIMAL(10,7))
        ),
        POINT(116.407395, 39.904211)
        ) &lt; 10000;  -- 10公里内

    </select>
</mapper>