<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.wenxin.service.mapper.UserPointsRecordsMapper">
    
    <resultMap type="UserPointsRecords" id="UserPointsRecordsResult">
        <result property="id"    column="id"    />
        <result property="pointsId"    column="points_id"    />
        <result property="type"    column="type"    />
        <result property="points"    column="points"    />
        <result property="relevanceTable"    column="relevance_table"    />
        <result property="relevanceId"    column="relevance_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserPointsRecordsVo">
        select id, points_id, type, points, relevance_table, relevance_id, del_flag, create_by, create_time, update_by, update_time from tb_user_points_records
    </sql>

    <select id="selectUserPointsRecordsList" parameterType="UserPointsRecords" resultMap="UserPointsRecordsResult">
        <include refid="selectUserPointsRecordsVo"/>
        <where>  
            <if test="pointsId != null "> and points_id = #{pointsId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="relevanceTable != null  and relevanceTable != ''"> and relevance_table = #{relevanceTable}</if>
            <if test="relevanceId != null "> and relevance_id = #{relevanceId}</if>
        </where>
    </select>
    
    <select id="selectUserPointsRecordsById" parameterType="Long" resultMap="UserPointsRecordsResult">
        <include refid="selectUserPointsRecordsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserPointsRecords" parameterType="UserPointsRecords" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user_points_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pointsId != null">points_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="points != null">points,</if>
            <if test="relevanceTable != null">relevance_table,</if>
            <if test="relevanceId != null">relevance_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pointsId != null">#{pointsId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="points != null">#{points},</if>
            <if test="relevanceTable != null">#{relevanceTable},</if>
            <if test="relevanceId != null">#{relevanceId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserPointsRecords" parameterType="UserPointsRecords">
        update tb_user_points_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="pointsId != null">points_id = #{pointsId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="points != null">points = #{points},</if>
            <if test="relevanceTable != null">relevance_table = #{relevanceTable},</if>
            <if test="relevanceId != null">relevance_id = #{relevanceId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserPointsRecordsById" parameterType="Long">
        delete from tb_user_points_records where id = #{id}
    </delete>

    <delete id="deleteUserPointsRecordsByIds" parameterType="String">
        delete from tb_user_points_records where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>